body {
  font-family: Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 5;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
